{% extends "base.html" %}

{% block title %}
<title>Про магазин</title>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Про платформу</h1>
    <div class="row">
        <div class="col-md-6">
            <p>
                Що таке наше хмарне середовище? Це Ваший особистий цифровий всесвіт, де дані зберігаються надійно, а додатки працюють швидко. 
                Ми пропонуємо гнучкі та масштабовані рішення, щоб задовольнити будь-які потреби вашого бізнесу. Наші послуги дозволяють вам зосередитися на 
                головному, довіривши нам всю IT-інфраструктуру.
            </p>
        </div>
        <div class="col-md-6 text-center">
            <img 
                src="https://t4.ftcdn.net/jpg/09/59/24/09/240_F_959240943_0Lg8sCEbtkWcrstHLz7QjUiD2H3VG8SX.jpg" 
                alt="Cloud Platform" 
                class="img-fluid rounded shadow"
            >
        </div>
    </div>
    <div class="mt-4">
        <p>
            Ми розуміємо, що кожен бізнес унікальний. Тому ми створюємо індивідуальні хмарні рішення, які ідеально підходять саме для вас. Наша команда 
            експертів завжди готова допомогти вам з будь-якими питаннями та забезпечити безперебійну роботу ваших систем.
        </p>
    </div>
</div>
{% endblock %}
