{% extends "base.html" %}

{% block title %}
<title>Наша команда</title>
{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="mb-4">Наша команда</h1>
    <div class="text-center">
        <p class="lead">Ми — студенти групи IПЗ-22 і творці цього сайту. Ми працювали старанно і щиро сподіваємось на позитивну оцінку!</p>
        <hr class="my-4">
    </div>
    
    <div class="row text-center">
        <!-- Член команди 1 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm border-0">
                <img 
                    src="https://cdn.discordapp.com/attachments/1303327793727143966/1309910465391890472/e6c21da4c3657b36.jpg?ex=67434caf&is=6741fb2f&hm=07d842dd4ca184b9f2f86523fd604b1ef1106536d3ba2c1e5694f581a28c3cd4&" 
                    alt="Ільчук Василина" 
                    class="card-img-top rounded-circle mx-auto mt-3" 
                    style="width: 150px; height: 150px; object-fit: cover;"
                >
                <div class="card-body">
                    <h5 class="card-title">Ільчук Василина</h5>
                </div>
            </div>
        </div>
        
        <!-- Член команди 2 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm border-0">
                <img 
                    src="https://cdn.discordapp.com/attachments/1303327793727143966/1309892380685504532/image0.png?ex=67433bd8&is=6741ea58&hm=53d27e3bda56c48d483183caa27e50efca43cedf38a7ea529cd729df15a5ed1d&" 
                    alt="Бугайчук Денис" 
                    class="card-img-top rounded-circle mx-auto mt-3" 
                    style="width: 150px; height: 150px; object-fit: cover;"
                >
                <div class="card-body">
                    <h5 class="card-title">Бугайчук Денис</h5>
                </div>
            </div>
        </div>
        
        <!-- Член команди 3 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm border-0">
                <img 
                    src="https://cdn.discordapp.com/attachments/1026560869947150406/1309886922092576870/1732048870499.jpg?ex=674336c2&is=6741e542&hm=f25b7519d6105a4b6bb0cfd73af155f755a72a04f723c950adf74171e44547ed&" 
                    alt="Величко Ростислав" 
                    class="card-img-top rounded-circle mx-auto mt-3" 
                    style="width: 150px; height: 150px; object-fit: cover;"
                >
                <div class="card-body">
                    <h5 class="card-title">Величко Ростислав</h5>
                </div>
            </div>
        </div>
    </div>
    
    <div class="text-center mt-4">
        <p>Наша команда завжди готова до виконання поставлених задач і відкриті до нових викликів.</p>
    </div>
</div>
{% endblock %}
